.g {
	font-family: American Typewriter, serif;
	font-style: normal;
	font-weight: 600;
	font-variant: small-caps;
	font-stretch: condense;
	text-align: center;
	font-size: 80px;
	
}

#history {
    font-family: Arial;
	font-style: normal;
	font-weight: 600;
	font-variant: small-caps;
	font-stretch: condense;
	font-size:25px;
    border-collapse: collapse;
    width: 85%;
	margin-left:7% ;
	margin-top:55px;
}

#history th{
    border-color: #fff;
    padding: 2px;
}

#history td{
	border-color: #fff;
	padding: 2px;
}


#history th:nth-child(even){
	background-color: #fff;
	}
	
#history td:nth-child(even){
	background-color: #fff;
	}

#history th{
    padding-top: 1px;
    padding-bottom: 2px;
	padding: 10px;
    text-align: center;
    background-color: #fff;
    color: #222;
}

#history td {
    padding-top: 1px;
    padding-bottom: 2px;
	padding: 10px;
    text-align: center;
    background-color: #fff;
    color: #222;
}



.button {
  display: inline-block;
  padding: 18px 26px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #222;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 4%;
  margin-left: 20%;
}

.button:hover {background-color: #222}

.button:active {
  background-color: #222;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}